body{
    font-family: 'Montserrat';
}

/* BRAND NAME --- OBREZKA */

#obrezka{
    font-size: 180%;
}

.navbar-brand{
    font-family: 'Montserrat';
    font-size: 4rem;

}


.navbar-toggler {
    font-size: 2rem;
}

.navbar {
    top: 10px;
}

#title{
    /* background-color: rgb(223, 199, 121); */
}

div.container-fluid{
    /* padding: 3% 10%; */
}

h1 {
    font-family: 'Montserrat';
    line-height: 1.5;
    font-size: 2rem;
}

#features{
    padding-left: 10%;
} 
.carousel-image{
    
    width: 300px;
} 

#new-arrivals{
    padding-top: 2%;
}


section h3 {
    font-size: 2rem;
    text-align: center;
    font-family: 'Montserrat';
}



/* Item Images  */
 
.item-images{
    padding-bottom: 1%;
    text-align: center;
}


/* Text on carousel images  */


.txt{
    position: relative;
    top: 100px;
    display: inline-block;
}


/* Account button */

/* .btn-account {
    position: relative;
    left: 10px;
} */
